asttokens
black
cffi
click
contourpy
cycler
debugpy
executing
fonttools
ipykernel
ipython
jinja2
jupyter-client
jupyter-core
kiwisolver
markupsafe
matplotlib
matplotlib-inline
mypy-extensions
nest-asyncio
numpy
packaging
pandas
pathspec
patsy
pexpect
pickleshare
pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pybind11
pycparser
pygments
pyparsing
python-dateutil
pytz
pyvinecopulib
pyzmq
rpy2
scipy
seaborn
setuptools
setuptools-scm
six
stack-data
statsmodels
tornado
traitlets
tzdata
tzlocal